@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

/* NAV BAR */

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}

.logo {
    display: flex;
    margin: 5px;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-left: 50px;
}

.nav-link{
    width: 50%;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.navlinks li{
    list-style: none;
    color: white;
}

/* WELCOME PAGE */

.welcome-page {
    height: 100vh;
    background-color: #212529;
}

.title {
    position: absolute;
    bottom: 5px;
    width: 20%;
    font-size: 10rem;
    color: white;
    font-weight: 500;
}

/* NOSOTROS */

.nosotros-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #343a40;
}

/* NOSOTROS IMAGEN */
.nosotros__image {
    display:flex;
    height: 35%;
    margin-top: auto;
}
.nosotros__image img {
   object-fit: cover;
   width: 100%;
}

/* NOSOTROS TEXTO */

.nosotros__texto {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 50px;
}

.nosotros__divisor {
    width: 100px;
    height: 1px;
    background-color: white;
    margin-bottom: 15px;
}

.nosotros__description {
    margin-top: 50px;
}

.nosotros__title {
    font-size: 1.5rem;
    font-weight: 400;
}

/* SERVICIOS */

.servicios{
    min-height: 100vh;
    background-color: #495057 ;
}

.servicios-container {
    display: flex;
}

.servicios__title {
    text-align: center;
    font-size: 3rem;
    padding-top: 25px;
    background-color:#495057;
    color: white;
    font-weight: 400;
}

.servicios-description span {
    font-size:1.5rem;
    font-weight: 400;
}

.servicios-aside {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin-top: 100px;
}

.servicios__items {
    display: flex;
    justify-self: space-around;
    height: 100%;
    margin-left: auto ;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}


.servicios-description {
    height: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}


.servicios__items img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


/* CLIENTES */

.clientes {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: #6c757d;
}

.clientes__text {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

.clientes__logo {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
}

.clientes__logo img {
    height: 100px;
    width: 100px;
}

/* CONTACTO */

.contacto {
    height: 50vh;
    background-color: #adb5bd;
}

.contacto-container {
    display: flex;

}

.contacto-aside {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contacto__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    padding-top: 25px;
    font-weight: 400;
}

/* SUBSCRIPCION */

.subscription {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.subscription-email {
    width: 100%;
}

.subscription-bottom {
    display: flex;
    margin-top: 15px;
}

.subscription-bottom label {
    font-size: .8rem;
    width: 80%;
}

.subscription-btn {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50%;
}

/* DATOS DE CONTACTO */

.contacto-datos {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.contacto-datos img{
    width: 50px;
    height: 50px;
}

/* MENSAJE FORMULARIO */

.message-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.message-text {
    height: 170px;
}
.form {
    margin-top: 10px;
}



/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* MOBILE  */

@media screen and (max-width: 425px){

    .logo img {
        height: 30px;
        width: 30px;
        margin-left: 5px;
    }

    .title {
        font-size: 3.5rem;
    }

    .navlinks {
        font-size: .8rem;
    }

    .nav-link {
        width: 90%;
    }

    /* NOSOTROS */

    .nosotros__texto {
        margin-left: 5px;
        font-size: .8rem;
    }

    .nosotros__image {
        height: 20%;
    }

    /* SERVICIOS */

    .servicios__items {
        padding: 0px;
    }

    .servicios-container {
        flex-direction: column;
    }

    .servicios-aside {
        width: 100%;
    }

    .servicios-aside{
        margin-top: 20px;
    }

    .servicios-description {
        font-size: .8rem;
    }

    /* CLIENTES */

    .clientes__text {
    font-size: 1.2rem;
    }

    .clientes__logo img {
        width: 25px;
        height: 25px;
    }

    /* CONTACTO */

    .contacto__title {
        font-size: 1rem;
    }

    .contacto-container {
        display: flex;
        flex-direction: column;
    }

    .contacto {
        height: 100vh;
    }

    .contacto-aside {
        width: 100%;
    }

    /* MENSAJE FORMULARIO */

    .subscription {
        order: 2;
    }

    .message-form {
        width: 90%;

    }

    /* DATOS DE CONTACTO */

    .contacto-aside:nth-child(1) {
        order: 2;
    }

    .contacto-datos {
        display: flex;
        width: 90%;
        font-size: .5rem;
    }

    .contacto-datos img{
        width: 20px;
        height: 20px;
    }

    /* SUBSCRIPTION */

    .subscription {
        width: 90%;
    }
}